@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
* { box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;

    padding: 0.5em 2em;
    border-radius: 5rem;
    border-style: none;

    background-color: #38CFD9;
    color: #23424A;
}
.block {
    width: 100%;
    
    padding: 100px 0;

    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 80%;
    max-width: 1300px;
    
    margin: 0 auto;
}


.block.block--hero {
    background-color: #23424A;
    color: white;
}
.wrapper--hero h1 {
    font-size: 48px;
}
.wrapper--hero p {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 3em;

}
.wrapper--hero h1,
.wrapper--hero p {
max-width: 60%;
}

.wrapper--body {
    display: flex;
    gap: 2rem;

    text-align: center;

    line-height: 1.5;
}
.wrapper--body--middle h2{
    color: #87629A;
    font-weight: 900;
}

.block.block--body--bottom {
    background-color: #136C72;
    color: white;
}